@charset "utf-8";

@font-face {
    font-family: 'LeferiPoint-SpecialA';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/LeferiPoint-SpecialA.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}/*title*/
@font-face {
    font-family: 'LeferiPoint-SpecialItalicA';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/LeferiPoint-SpecialItalicA.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'LeferiPoint-BlackA';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/LeferiPoint-BlackA.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    /*날개 있는 거*/
    font-family: 'NotoSerifKR';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/NotoSerifKR.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);
.notosanskr * {
    font-family: 'Noto Sans KR', sans-serif;
}
@font-face {
    font-family: 'Balgon Serif';
    src: url('BalgonSerif-Regular.woff2') format('woff2'),
        url('BalgonSerif-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Balgon';
    src: url('BalgonBold-Bold.woff2') format('woff2'),
        url('BalgonBold-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

*{
    margin: 0;
    padding: 0;
}
ul,ol {
    list-style: none;
}
a {
    text-decoration: none;
    color: inherit;
}
.clearfix::after {
    display: block;
    content: "";
    clear: both;
}
img,video,iframe {
    vertical-align: middle;
}
body {
    font-size: 16px;
    font-family: 'Noto Sans KR', sans-serif;
    line-height: 21px;
    color: #222;
    min-width:1450px;
}


/*1.header*/
#header{
    width: 100%;
    position: relative;
}
.banner{
    background-image: url(../images/sub2/1.header_banner2.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 770px;
    box-sizing: border-box;
    text-align: center;
    padding-top: 400px;
}
.banner h1{
    font-size: 44.5px;
    font-family: 'LeferiPoint-BlackA';
    color: #fff;
    letter-spacing: 1.1px;
}
.h_menu_bg{
    width: 100%;
    position: absolute;
    top: 0;
    left: 0%;
}
.h_menu .h_logo{
    text-align: center;
    padding-top: 17px;
    padding-bottom: 10px;
}
.h_menu .gnb{
    display: flex;
    justify-content: center;
    padding-bottom: 7px;
}
.h_menu .gnb>li{
    padding: 10px 40px;
    color: #222;
    font-weight: 600;
    letter-spacing: 1.2px;
    color: #ffffff;
}

/*복사하기*/
#header .box {
    position: fixed;
    width: 100%;
    height: 1080px;
    background-color: #f0ebe381;
    display: none;
}
/*sub*/
.sub {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    display: none;
}

.gnb>li {
    position: relative;
}

.sub>li>a {
    display: block;
    /*border-bottom: 1px solid rgba(0, 0, 0, 0.3);*/
    font-size: 12.5px;
    text-align: center;
    padding: 15px 0px;
    padding-top: 19px;
    font-weight: normal;
    font-family: 'LeferiPoint-BlackA';
    color: #695951;
}
.sub .sub_top{
    border-top: 2px solid #8d6f5f;
}

.sub>li>a:hover {
    color: #ffffff;
    transition: all 0.5s;
}


/*2.탭 부분*/
#tap{
    width: 1150px;
    margin: 100px auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 11px;
}
#tap a{
    display: block;
    width: 100%;
    height: 100%;
}

/*tap1*/
#tap .tap1{
    background-color: #f8f8f8;
    width: 517.3px;
    height: 615px;
    grid-row: 1/3;
    grid-column: 1/3;
}
#tap .tap1 .tap1_inner{
    position: relative;
}
#tap .tap1 .tap1_inner h2{
    font-family: 'LeferiPoint-SpecialA';
    font-size: 32px;
    line-height: 30px;
    padding: 40px;
    font-weight: 500;
}
#tap .tap1 .tap1_inner .tap1_img{
    position: absolute;
    top: 0px;
    left: 0px;
}
/*tap2*/
#tap .tap2{
    background-color: #f8f8f8;
    width: 622.65px;
    height: 323.56px;
    grid-column: 3/5;
}
#tap .tap2 .tap2_inner{
    position: relative;
}
#tap .tap2 .tap2_inner h2{
    font-family: 'LeferiPoint-SpecialA';
    font-size: 32px;
    line-height: 30px;
    padding: 40px;
    font-weight: 500;
}
#tap .tap2 .tap2_inner .tap2_img{
    position: absolute;
    top: 86px;
    right: 13px;
}
/*tap3*/
#tap .tap3{
    background-color: #f8f8f8;
    width: 387.96px;
    height: 280.71px;
}
#tap .tap3 .tap3_inner{
    position: relative;
}
#tap .tap3 .tap3_inner h2{
    font-family: 'LeferiPoint-SpecialA';
    font-size: 32px;
    line-height: 30px;
    padding: 35px;
    font-weight: 500;
}
#tap .tap3 .tap3_inner .tap3_img{
    position: absolute;
    top: 62px;
    right: 0px;
}
/*tap4*/
#tap .tap4{
    background-color: #f8f8f8;
    width: 223.28px;
    height: 280.71px;
}
#tap .tap4 .tap4_inner{
    position: relative;
}
#tap .tap4 .tap4_inner h2{
    font-family: 'LeferiPoint-SpecialA';
    font-size: 32px;
    line-height: 30px;
    padding: 35px;
    font-weight: 500;
}
#tap .tap4 .tap4_inner .tap4_img{
    position: absolute;
    top: 91px;
    left: 50%;
    transform: translate(-50%);
}


/*호버*/
#tap .tap1:hover{
    background-color: #463e36;
    color: #fff;
    transition: all 0.2s;
}
#tap .tap2:hover{
    background-color: #29332c;
    color: #fff;
    transition: all 0.2s;
}
#tap .tap3:hover{
    background-color: #30303c;
    color: #fff;
    transition: all 0.2s;
}
#tap .tap4:hover{
    background-color: #2d2d2d;
    color: #fff;
    transition: all 0.2s;
}

/*탭 시작*/
/*탭1*/
.tab_container{
    width: 1150px;
    margin: 160px auto;
}
.title{
    display: flex;
    justify-content: space-between;
    border-bottom: 1px #222 solid;
    padding-bottom: 10px;
}
.title .right ul li{
    float: left;
    padding: 0 10px;
}
.title .left{
    font-family: 'LeferiPoint-SpecialA';
    font-weight: 500;
    font-size: 34px;
    line-height: 35px;
}
.title .right{
    font-size: 15px;
}
.title .right ul{
    padding-top: 5px;
}
.box{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-top: 50px;
}
.box li{
    padding-bottom: 50px;
}
.box li h4{
    padding: 20px 0;
    font-size: 18px;
    padding-top: 20px;
    padding-bottom: 10px;
}
.box li .ingredient{
    font-size: 15px;
    padding-bottom: 30px;
}
.box li .dollor{
    font-size: 20px;
    font-weight: 600;
}






/*8.footer*/
#footer {
    background-color: #e8e2d4;
    font-family: 'Noto Sans KR', sans-serif;
}
.footer_inner {
    width: 1320px;
    margin: 0 auto;
    padding-top: 70px;
}
.footer_inner>li {
    float: left;
    padding: 70px;
    padding-top: 0;
    padding-bottom: 0;
}
.footer_inner .pol>li {
    float: left;
    padding-right: 20px;
}
.footer_inner .pol {
    padding-top: 30px;
}
.footer_inner .pol p {
    padding-top: 50px;
}
.f_s_2 ul li {
    float: left;
    padding-right: 20px;
    padding-top: 5px;
}
.f_s_2 h2 {
    font-size: 21.6px;
    padding-bottom: 25px;
    color: #a08572;
}
.f_s_2 p {
    padding-bottom: 25px;
}
.f_s_3 h2 {
    font-size: 21.6px;
    padding-bottom: 25px;
    line-height: 25px;
    color: #a08572;
}
.f_s_3 p {
    line-height: 40px;
}
.copy {
    width: 1320px;
    margin: 0 auto;
}
.copy p {
    margin-top: 40px;
    margin-left: 70px;
    padding-top: 25px;
    padding-bottom: 25px;
    border-top: 1px solid #a08572;
}
/*호버*/
.f_s_2 ul img {
    opacity: .3;
}
.f_s_2 ul img:hover {
    opacity: 1;
    transition: all 0.7s;
}